<nav class="navbar navbar-default">
  <!-- <div class="container"> -->
  <div class="navbar-header">
    <div class="row">
      <a class="navbar-brand">{{getTitle()}}</a>
    </div>
  </div>
</nav>

<modal #LogoutModal>
  <modal-body>
    <div class="text-center">
      <h1>คุณต้องการออกจากระบบหรือไม่ ?</h1>
    </div>
    <div class="mt-5 text-center">
      <button type="button" class="background-blue text-white button-submit" (click)="onClickLogout()">
        ตกลง
      </button>
      <button type="button" class="bg-secondary button-submit" (click)="LogoutModal.close()">
        ยกเลิก
      </button>
    </div>
  </modal-body>
</modal>
