<div class="row m-3 pt-4 border-light-gray">

    <div class="col-lg-2">
        <img src="">
    </div>
    <div class="row m-0 col-lg-10 text-light-gray">
        <!--Row1-->
        <div class="col-lg-1">
            <!--image icon-->
        </div>
        <div class="col-lg-8 text-left font-weight-bold">
            Name SurName
        </div>
        <div class="col-lg-3 p-4"></div>
        <!--Row2-->
        <div class="col-lg-1">
            <!--image icon-->
        </div>
        <div class="col-lg-8 text-left">
            Position <br> batch status: <label class="text-light-blue"> OPEN </label>
        </div>
        <div class="col-lg-3 p-4 align-content-center">
            <button class="background-blue text-white">
                batch
            </button>
        </div>
        <!--Row3-->
        <div class="col-lg-1">

        </div>
        <div class="col-lg-8 text-left">
            0095 Central World
        </div>
        <div class="col-lg-3 p-4"></div>
    </div>
</div>

<!-- <div class="row m-3 pt-4 mt-5 border-light-gray">
    
    <div class="col-lg-12 text-left text-light-gray font-weight-bold mb-3">
        จำนวนเงินทั้งหมดในลิ้นชัก
    </div>
    <div class="col-lg-12 text-right text-light-blue display-6 font-weight-bold">
        <label class="pr-3"> 500,0000.00 </label> บาท
    </div>
    
    <div class="col-lg-6 text-left text-light-gray mt-3">
        เงินขาด/เงินเกิน
    </div>
    <div class="col-lg-6 text-right text-light-gray mt-3">
        <label class="pr-3"> 0.00 </label> บาท
    </div>
 
    <div class="col-lg-6 text-left text-light-gray  ">
        ยอดเงินสด
    </div>
    <div class="col-lg-6 text-right text-light-gray  ">
        <label class="pr-3"> 0.00 </label> บาท
    </div>
</div> -->
