<div class="col-lg-12">{{version}}</div>
<div  class="constainer justify-content-center row mt-5 pl-5 pr-5">
<!-- <div class="row col-lg-12 header pt-5">
    <div class="col-lg-6 text-left align-bottom my-auto">
      <label class="display-5 text-light-gray "> VIB Machine1</label>
    </div>
    <div class="col-lg-6 text-right align-bottom my-auto">
      <button class="background-blue text-white"
              (click)="onClickLogin()">
        <h1> Login </h1>
      </button>
    </div>
  </div>
  <div class="col-lg-12 pt-4 pb-4">
    <vib-banner-home></vib-banner-home>
  </div>
  <div class="col-lg-3 text-center">
    <vib-exchange-rate></vib-exchange-rate>
  </div>
  <div class="col-lg-9">
    <div class="pl-5 text-light-gray display-7"> Transaction </div>
    <vib-transaction class="transaction-container-fluid-h-100"></vib-transaction>
  </div> -->
<vib-login></vib-login>
</div>
