<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="./assets/images/ic_logo.png" style="width: 196px;height: 67px" alt="">
      </div>
    </a>
    <div style="position: relative; top:70px; font-size: 12px;">
      <label>MachineID:{{ machineId }}</label>/
      <label>BranchCode:{{ branchCode }}</label>/
      <label>ENV:{{ evnName }}</label>
    </div>
  </div>
  <ul class="nav list_disply">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
      <a *ngIf="menuItem.path !== 'LOGOUT'" [routerLink]="[menuItem.path]">
        <p><i class="{{menuItem.icon}}"></i> {{menuItem.title}}</p>
      </a>
      <a *ngIf="menuItem.path === 'LOGOUT'" (click)="onShowLogoutModal()">
        <p><i class="{{menuItem.icon}}"></i> {{menuItem.title}}</p>
      </a>
    </li>
  </ul>
</div>

<modal #LogoutModal>
  <modal-body>
    <div class="text-center">
      <h1>คุณต้องการออกจากระบบหรือไม่ ?</h1>
    </div>
    <div class="mt-5 text-center">
      <button type="button" class="background-blue text-white button-submit" (click)="onClickLogout()">
        ตกลง
      </button>
      <button type="button" class="bg-secondary button-submit" (click)="LogoutModal.close()">
        ยกเลิก
      </button>
    </div>
  </modal-body>
</modal>
