<div class="border-light-gray">
    <div class="background-blue text-white title text-left p-3 display-6">
        Exchange Rate
    </div>
    <div class="row m-0 p-3 background-light-gray text-white title text-center ">
        <div class="col-4 text-left">
            Currency
        </div>
        <div class="col-4">
            Buy
        </div>
        <div class="col-4">
            Sell
        </div>
    </div>
    <div class="row m-0 p-3  text-white title text-center ">
        <!--ROW1-->
        <div class="col-4 pb-1 text-left">
            <img src="./assets/images/nation/icon_us.png">
        </div>
        <div class="col-4 text-light-green my-auto">
            30.159
        </div>
        <div class="col-4 text-red my-auto">
            33.157
        </div>
        <!--ROW2-->
        <div class="col-4 text-left">
            <img src="./assets/images/nation/icon_japan.png">
        </div>
        <div class="col-4 text-light-green my-auto">
            29.159
        </div>
        <div class="col-4 text-red my-auto">
            30.157
        </div>
    </div>
</div>